/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#F4F7FB;
    color:#1F2937;
}

/* ==========================
   CONTAINER
========================== */

.container{
    width:95%;
    max-width:1500px;
    margin:40px auto;
    display:grid;
    grid-template-columns:2fr 420px;
    gap:35px;
}

/* ==========================
   LADO ESQUERDO
========================== */

.agendamento{
    background:#fff;
    border-radius:20px;
    padding:35px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

/* ==========================
   CABEÇALHO
========================== */

.cabecalho{
    display:flex;
    align-items:center;
    gap:20px;
    margin-bottom:35px;
}

.voltar{
    width:48px;
    height:48px;
    border-radius:50%;
    background:#EAF2FF;
    color:#5260F7;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    font-size:20px;
}

.cabecalho h1{
    font-size:34px;
}

.cabecalho p{
    color:#777;
    margin-top:5px;
}

/* ==========================
   TÍTULOS
========================== */

h2{
    margin:35px 0 18px;
    font-size:22px;
}

/* ==========================
   SERVIÇOS
========================== */

.servicos{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.card-servico{
    border:2px solid #E5E7EB;
    border-radius:16px;
    padding:25px;
    cursor:pointer;
    transition:.3s;
}

.card-servico i{
    font-size:30px;
    color:#5260F7;
;
    margin-bottom:15px;
}

.card-servico h3{
    margin-bottom:10px;
    font-size:18px;
}

.card-servico p{
    color:#666;
    line-height:1.5;
    font-size:15px;
}

.card-servico:hover{
    transform:translateY(-4px);
    border-color:#5260F7;
}

.card-servico.ativo{
    border-color:#5260F7;
    background:#EFF6FF;
}

/* ==========================
   TIPO
========================== */

.tipo{
    display:flex;
    gap:20px;
}

.tipo button{
    flex:1;
    height:55px;
    border:none;
    border-radius:12px;
    background:#ECECEC;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

.tipo button i{
    margin-right:8px;
}

.tipo .ativo{
    background:#5260F7;
    color:#fff;
}

/* ==========================
   DATA
========================== */

.titulo-data{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.titulo-data a{
    text-decoration:none;
    color:#5260F7;
    font-weight:600;
}

.datas{
    display:flex;
    gap:15px;
}

.datas button{
    width:80px;
    height:90px;
    border:none;
    border-radius:15px;
    background:#fff;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    cursor:pointer;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.datas span{
    font-size:13px;
    color:#777;
}

.datas strong{
    font-size:28px;
    margin-top:6px;
}

.datas .ativo{
    background:#2563EB;
    color:#fff;
}

.datas .ativo span{
    color:#fff;
}

/* ==========================
   HORÁRIOS
========================== */

.horarios{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.horarios button{
    width:100px;
    height:50px;
    border:1px solid #D9D9D9;
    border-radius:12px;
    background:#fff;
    cursor:pointer;
    transition:.3s;
    font-size:16px;
}

.horarios button:hover{
    border-color:#2563EB;
}

.horarios .ativo{
    background:#2563EB;
    color:#fff;
    border:none;
}

/* ==========================
   INPUT
========================== */

.campo{
    display:flex;
    align-items:center;
    background:#F7F7F7;
    border-radius:12px;
    padding:15px;
    gap:15px;
}

.campo i{
    color:#2563EB;
}

.campo input{
    width:100%;
    border:none;
    outline:none;
    background:none;
    font-size:16px;
}

/* ==========================
   OBSERVAÇÃO
========================== */

textarea{
    width:100%;
    height:150px;
    border:1px solid #DDD;
    border-radius:15px;
    padding:18px;
    resize:none;
    font-size:16px;
}

/* ==========================
   CARD LATERAL
========================== */

.resumo{
    position:sticky;
    top:30px;
}

.card-profissional{
    background:#2563EB;
    color:#fff;
    border-radius:22px;
    padding:30px;
    text-align:center;
}

.card-profissional img{
    width:130px;
    height:130px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid rgba(255,255,255,.25);
    margin-bottom:20px;
}

.card-profissional h2{
    color:#fff;
    margin-top:0;
}

.card-profissional span{
    display:block;
    opacity:.9;
    margin-bottom:15px;
}

.avaliacao{
    margin:20px 0;
    font-size:18px;
}

.avaliacao i{
    color:#FFD54F;
}

.card-profissional hr{
    border:none;
    height:1px;
    background:rgba(255,255,255,.25);
    margin:25px 0;
}

.info{
    display:flex;
    flex-direction:column;
    gap:18px;
    text-align:left;
}

.info div{
    display:flex;
    justify-content:space-between;
}

.btn-continuar{
    width:100%;
    height:55px;
    margin-top:30px;
    border:none;
    border-radius:12px;
    background:#fff;
    color:#2563EB;
    font-size:18px;
    font-weight:700;
    cursor:pointer;
}

/* ==========================
   RESPONSIVO
========================== */

@media(max-width:1100px){

.container{
    grid-template-columns:1fr;
}

.resumo{
    position:static;
}

}

@media(max-width:768px){

.servicos{
    grid-template-columns:1fr;
}

.tipo{
    flex-direction:column;
}

.datas{
    flex-wrap:wrap;
}

}